{% extends "meals/base.html" %}

{% block content %}
  <div class="container-fluid mt-2" role="main">
    <div class="row">
      <div class="col-sm-10">
        <div class="row">
          {% for meal in meal_list %}
            <div class="col-md-2">
              <div class="card mb-4 shadow-sm">
                {% if meal.picture_url %}
                  <img src="{{ meal.picture_url }}">
                {% else %}
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                       xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                       role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"/>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">
                    {{ meal.name }}
                    <span class="float-end text-white badge rounded-pill bg-{% if meal.difficulty == 1 %}success{% elif meal.difficulty == 2 %}info{% elif meal.difficulty == 3 %}warning{% elif meal.difficulty == 4 %}danger{% endif %}">{{ meal.get_difficulty_display }}</span>
                  </h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'meals:meal-detail' meal.pk %}" class="btn btn-sm btn-outline-secondary">Voir</a>
                    </div>
                    <small class="text-muted">
                      {{ meal.seasons.all|join:', ' }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-2 sticky-xl-top">
        <div class="row">
          <div class="col-sm-12">
            <div class="list-group">
              {% for meal in meal_list %}
                {% for ingredient in meal.cart_ingredients %}
                  <button type="button" class="list-group-item d-flex justify-content-between align-items-center">
                    {{ ingredient.ingredient }}
                    <span class="badge rounded-pill bg-primary">
                      {{ ingredient.quantity|floatformat }} {{ ingredient.get_unit_display }}{{ ingredient.quantity|pluralize }}
                    </span>
                  </button>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
