{% extends "meals/base.html" %}

{% block content %}
  <div class="container-fluid col-12 h-100">
    <div class="row justify-content-center h-100">
      <div class="col-sm-12 col-md-2 mt-3">
        <ul class="list-group" id="left">
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true" onclick="emptyCart()">
            Vider le panier
          </button>
          <li class="list-group-item disabled" aria-disabled="true">Les menus</li>
          {% for meal in meal_list %}
            <li class="list-group-item text-dark">{{ meal.name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-12 col-md-8 mt-2 mb-2">
        <div class="container-fluid h-100">
          <div class="row justify-content-center h-100">
            <div class="col-sm bg-primary bg-gradient text-center text-white" id="monday">
              Lundi
            </div>
            <div class="col-sm bg-secondary bg-gradient text-center text-white" id="tuesday">
              Mardi
            </div>
            <div class="col-sm bg-success bg-gradient text-center text-white" id="wednesday">
              Mercredi
            </div>
            <div class="col-sm bg-danger bg-gradient text-center text-white" id="thursday">
              Jeudi
            </div>
            <div class="col-sm bg-warning bg-gradient text-center text-white" id="friday">
              Vendredi
            </div>
            <div class="col-sm bg-info bg-gradient text-center text-white" id="saturday">
              Samedi
            </div>
            <div class="col-sm bg-dark bg-gradient text-center text-white" id="sunday">
              Dimanche
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2 mt-3">
        <div class="list-group">
          <li class="list-group-item disabled" aria-disabled="true">Les ingrédients</li>
          {% for meal in meal_list %}
            {% for ingredient in meal.cart_ingredients %}
              <button
                  type="button"
                  class="list-group-item d-flex justify-content-between align-items-center"
                  onclick="checkElement(this)">
                <input class="form-check-input me-1" type="checkbox">
                {{ ingredient.ingredient }}
                <span class="badge rounded-pill bg-primary">
                  {{ ingredient.quantity|floatformat }} {{ ingredient.get_unit_display }}{{ ingredient.quantity|pluralize }}
                </span>
              </button>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
