{% extends "meals/base.html" %}

{% block content %}

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1>Tous les repas</h1>
        <form method="get">
          <div class="input-group mb-3">
            {{ filter.form.name }}
            <button class="btn btn-outline-primary" type="submit">Rechercher</button>
          </div>
        </form>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% for meal in filter.qs %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                {% if meal.picture_url %}
                  <img src="{{ meal.picture_url }}">
                {% else %}
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                       xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                       role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"/>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">
                    {{ meal.name }}
                    <span class="float-end text-white badge rounded-pill bg-{% if meal.difficulty == 1 %}success{% elif meal.difficulty == 2 %}info{% elif meal.difficulty == 3 %}warning{% elif meal.difficulty == 4 %}danger{% endif %}">{{ meal.get_difficulty_display }}</span>
                  </h5>

                  <p class="card-text">{{ meal.comment|truncatewords:"20" }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'meals:meal-detail' meal.pk %}" class="btn btn-sm btn-outline-secondary">Voir</a>
                      <button type="button" class="btn btn-sm btn-outline-primary" onclick="addToCart({{ meal.pk }})">Ajouter</button>
                    </div>
                    <small class="text-muted">
                      {{ meal.seasons.all|join:', ' }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </main>

{% endblock %}
